* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  
  button {
    background-color: purple;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16pt;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 10px 10px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }
  
  header {
    padding: 40px;
    text-align: center;
    color: black;
    border-bottom:30px
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
  }
  
  .view-highscores {
    margin-top: 0;
    padding-right: 1200px;
    padding-top: 0px;
    color: purple;
  }

  .quiz-timer{
    margin: 0;
    padding-left: 1200px;
  }
  
  .large-font {
    font-size: 3.5em;
    text-align:center;
    font-weight: bold;
  }
  
  
  .timer-text {
    padding: 55px;
  }
    
   .timer {
      height: 200px;
    }
   